.app {
  color: grey;
}
html {
  border-radius: 9px;
  overflow: hidden;
}
body {
  border-radius: 9px;
  overflow: hidden;
}
html, body, div, p {
  padding: 0;
  margin: 0;
}
:root {
  --wall-mask: 0.3;
  --wall-blur: 0px;
  --primary-color: #1890ff;
  --padding: 7px 16px;
  --target-top: 120px;
  --height: 34px;
  --card-radius: 9px;
}
/* 滚动条容器 */
::-webkit-scrollbar {
  width: 10px;
  height: 7px;
}

/* 滚动条轨道 */
::-webkit-scrollbar-track {
  background: #f1f1f1;
  border-radius: 7px;
}

/* 滚动条滑块 */
::-webkit-scrollbar-thumb {
  background: #c2c2c2;
  border-radius: 7px;
  border: 3px solid #f1f1f1;
}

/* 滚动条滑块在hover状态下 */
::-webkit-scrollbar-thumb:hover {
  background: #a5a5a5;
}